doc/flow_node-red
[{"id":"3264fb10.0c9954","type":"inject","z":"e539c513.9b38b","name":"test","topic":"","payload":"test1","payloadType":"str","repeat":"","crontab":"","once":false,"x":91.5,"y":131,"wires":[["ba4472.7b40cb9"]]},{"id":"ba4472.7b40cb9","type":"debug","z":"e539c513.9b38b","name":"","active":true,"console":"false","complete":"false","x":276.5,"y":131,"wires":[]},{"id":"76a38da0.0b75cc","type":"mqtt in","z":"e539c513.9b38b","name":"test","topic":"/test","qos":"0","broker":"7d55cdfd.ad230c","x":91.5,"y":193,"wires":[["ba4472.7b40cb9"]]},{"id":"dff0bde2.1b63a","type":"mqtt out","z":"e539c513.9b38b","name":"test receiver","topic":"/test","qos":"0","retain":"false","broker":"7d55cdfd.ad230c","x":309.5,"y":280,"wires":[]},{"id":"f53ab522.c507a","type":"inject","z":"e539c513.9b38b","name":"test","topic":"","payload":"test1","payloadType":"str","repeat":"","crontab":"","once":false,"x":104,"y":280,"wires":[["dff0bde2.1b63a"]]},{"id":"449ca46.71a565c","type":"mongodb in","z":"e539c513.9b38b","mongodb":"b8db14f1.87b1c","name":"","collection":"db","operation":"find","x":217.5,"y":386,"wires":[[]]},{"id":"3ba280db.48eb7","type":"modbustcp-no-pooling-read","z":"e539c513.9b38b","name":"Read POP","dataType":"HoldingRegister","adr":"0","quantity":"32","server":"2428599d.ad9ee6","x":504,"y":530,"wires":[["261f6713.52b118"],["178f256f.0a2a2b"]]},{"id":"6e3f9e9.542136","type":"debug","z":"e539c513.9b38b","name":"Leitura PLC","active":true,"console":"false","complete":"payload","x":919.6963272094727,"y":515.6468906402588,"wires":[]},{"id":"2de88d41.244cf2","type":"inject","z":"e539c513.9b38b","name":"atualizar","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":298.7617301940918,"y":529.6634330749512,"wires":[["3ba280db.48eb7"]]},{"id":"2799f605.e2958a","type":"function","z":"e539c513.9b38b","name":"Variaveis Globais","func":"//Estado inicial da maquina é não inicializada MaqInicializada=0\nglobal.set(\"ComandoMaquina\",0);//liberamensagens do bloco libera maquina\nglobal.set(\"MotorPrensa\",0);\nglobal.set(\"MotorLigado\",0);\nglobal.set(\"MotorInvertido\",0);\nglobal.set(\"Desbobinador\",0);\nglobal.set(\"Indice_Mongo\",0);\nglobal.set(\"TamanhoDesejadoPeca_KEYBOARD\",0);\nglobal.set(\"TamanhoRealPeca_KEYBOARD\",0);\nglobal.set(\"FatorEncoder\",9909);\nglobal.set(\"ModBus\",[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]);\nvar start = new Date().getTime();\nglobal.set(\"tempo\",start);\n\nvar mensagens = [];\n\nmensagens['LER_CLP_MODBUS'] =        { type: 'error', message: ' CLP não responde. Verifique as conexões de rede.' };\nmensagens['EMERGENCIA'] =            { type: 'error', message: ' Emergencia acionada!' };\nmensagens['FALTA_FASE'] =            { type: 'error', message: ' Falta de Fase' };\nmensagens['BOMBA_HIDRAULICA'] =      { type: 'error', message: ' Térmico da Bomba Hidraulica' };\nmensagens['MARTELO_PRENSA'] =        { type: 'error', message: ' Térmico do Motor do Martelo Prensa' };\nmensagens['PRESSAO_AR'] =            { type: 'warning', message: 'Pressao do Ar Baixa!' };\nmensagens['INVERSOR'] =              { type: 'error', message: ' Erro no Inversor' };\nmensagens['SERVO'] =                 { type: 'error', message: ' Erro no Servo' };\nmensagens['CHAVE_GERAL_DESLIGADA'] = { type: 'warning', message: ' Chave Geral Desligada' };\nmensagens['CHAVE_GERAL_LIGADA']    = { type: 'warning', message: ' Chave Geral ligada' };\nmensagens['MAQUINA_NAO_LIBERADA'] =  { type: 'warning', message: ' Maquina Não Liberada' };\nmensagens['MAQUINA_LIBERADA']     =  { type: 'warning', message: ' Maquina Liberada' };\nmensagens['ERRO_POSICIONAMENTO']=    { type: 'error', message: ' Erro Posicionamento' };\nmensagens['SEGURAN_PRENSA'] =        { type: 'info', message: ' Segurança da Prensa' };\nmensagens['APLAN_ABERTA'] =          { type: 'info', message: ' Aplanadora Aberda' };\n\nglobal.set(\"mensagens\",mensagens);\nmsg= {payload: \"{MAQUINA_OFF:0}\"};\nreturn msg;","outputs":1,"noerr":0,"x":505.38072204589844,"y":601.8183555603027,"wires":[[]]},{"id":"c52a9229.1ad6a","type":"inject","z":"e539c513.9b38b","name":"Globais","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":304.71437072753906,"y":601.8095245361328,"wires":[["2799f605.e2958a"]]},{"id":"261f6713.52b118","type":"function","z":"e539c513.9b38b","name":"loop leitura i=0","func":"global.set(\"ModBus\",msg.payload);\nmsg.i =0;\nreturn msg;","outputs":1,"noerr":0,"x":727.3332901000977,"y":514.9999923706055,"wires":[["6e3f9e9.542136"]]},{"id":"178f256f.0a2a2b","type":"debug","z":"e539c513.9b38b","name":"Erro","active":true,"console":"false","complete":"payload","x":696.9355430603027,"y":559.8816566467285,"wires":[]},{"id":"8a452e2b.933b7","type":"function","z":"e539c513.9b38b","name":"Abrir portao","func":"var modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\nmodbus[0] = 1;\nmsg.payload = modbus[0];\nmsg2.payload = \"ACIONANDO PORTAO\";\nmsg2.payload.time= new Date();\nnode.status({fill:\"yellow\",shape:\"ring\",text:msg.payload});\n\n   \n\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":542.3333740234375,"y":781.6666870117188,"wires":[["d6f0cb9d.e4bed8","68ed9bec.580404","1a0696d8.2acd99"],["de340ed.1134ff"]]},{"id":"68ed9bec.580404","type":"modbustcp-no-pooling-write","z":"e539c513.9b38b","name":"portao M0.0","dataType":"HoldingRegister","adr":"0","server":"2428599d.ad9ee6","x":795.0514068603516,"y":775.31321144104,"wires":[["32018a02.0e61d6"],["1e91ac3d.1b4824"]]},{"id":"55d0ecf6.710114","type":"inject","z":"e539c513.9b38b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":298.62122090657545,"y":779.7963968912759,"wires":[["8a452e2b.933b7"]]},{"id":"d6f0cb9d.e4bed8","type":"debug","z":"e539c513.9b38b","name":"","active":true,"console":"false","complete":"false","x":795.2878189086914,"y":721.5482273101807,"wires":[]},{"id":"de340ed.1134ff","type":"debug","z":"e539c513.9b38b","name":"mensagem ok","active":true,"console":"false","complete":"payload","x":801.9495620727539,"y":833.2148551940918,"wires":[]},{"id":"32018a02.0e61d6","type":"debug","z":"e539c513.9b38b","name":"RESPOSTA","active":true,"console":"false","complete":"payload","x":1023.6212209065752,"y":769.8768615722654,"wires":[]},{"id":"5196c494.43353c","type":"http in","z":"e539c513.9b38b","name":"veiculo","url":"/api/portao/veiculo","method":"post","swaggerDoc":"","x":283.99999999999994,"y":867.9999999999998,"wires":[["8a452e2b.933b7"]]},{"id":"1a0696d8.2acd99","type":"http response","z":"e539c513.9b38b","name":"/api/portao/veiculo","x":816,"y":672,"wires":[]},{"id":"1e91ac3d.1b4824","type":"debug","z":"e539c513.9b38b","name":"Erro no Comando","active":true,"console":"false","complete":"payload","x":1044.4444580078125,"y":809.9999389648438,"wires":[]},{"id":"780c4660.614aa8","type":"http response","z":"e539c513.9b38b","name":"","x":941.0000152587891,"y":1360.0000085830688,"wires":[]},{"id":"13456c5d.268bb4","type":"http in","z":"e539c513.9b38b","name":"Index","url":"/sitio","method":"get","swaggerDoc":"","x":190.44437281290675,"y":1360.1110705269707,"wires":[["2d9c9895.132d78"]]},{"id":"2d9c9895.132d78","type":"file in","z":"e539c513.9b38b","name":"index.HTML","filename":"/home/celso/git/sitio/build/index.html","format":"utf8","x":578.5554885864258,"y":1360.222183227539,"wires":[["85e48352.419ff"]]},{"id":"c98fac13.23232","type":"http response","z":"e539c513.9b38b","name":"","x":941.4445012410488,"y":1480.666657447815,"wires":[]},{"id":"3b3578d8.4df768","type":"comment","z":"e539c513.9b38b","name":"HTML","info":"","x":190,"y":1323.9999837875366,"wires":[]},{"id":"85e48352.419ff","type":"function","z":"e539c513.9b38b","name":"Text/HTML","func":"msg.headers = { \"Content-type\" : \"text/html\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":788.8332672119141,"y":1360.0211572647095,"wires":[["780c4660.614aa8"]]},{"id":"7010d162.95bce","type":"http in","z":"e539c513.9b38b","name":"JS","url":"/static/js/main.c60e9865.js","method":"get","swaggerDoc":"","x":198.93917083740234,"y":1478.8567504882812,"wires":[["df7d3748.3af8d8","a6e1caca.66fb58"]]},{"id":"8ec2aa7c.643798","type":"http response","z":"e539c513.9b38b","name":"","x":940.4445470174155,"y":1397.5629977120293,"wires":[]},{"id":"76f62c90.3e5e84","type":"http in","z":"e539c513.9b38b","name":"css","url":"/static/css/main.56c1a68e.css","method":"get","swaggerDoc":"","x":188.8889045715332,"y":1397.6740596559312,"wires":[["d4471fb2.c03de"]]},{"id":"7f824d62.b2e574","type":"function","z":"e539c513.9b38b","name":"Text/CSS","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n \nreturn msg;","outputs":1,"noerr":0,"x":779.0185508728027,"y":1397.340750588311,"wires":[["8ec2aa7c.643798"]]},{"id":"901e63f.46857a","type":"comment","z":"e539c513.9b38b","name":"Servidor WEB","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":618.4629592895508,"y":1307.4517879486084,"wires":[]},{"id":"df7d3748.3af8d8","type":"debug","z":"e539c513.9b38b","name":"recebeu","active":true,"console":"false","complete":"true","x":387.5,"y":1301.883339881897,"wires":[]},{"id":"6fdea10.220896","type":"debug","z":"e539c513.9b38b","name":"saida","active":false,"console":"false","complete":"true","x":791,"y":1283.883339881897,"wires":[]},{"id":"6c9570ca.7f9a7","type":"function","z":"e539c513.9b38b","name":"Abrir portao menor S2","func":"var modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\nif (modbus[2]==0){\n    modbus[2] |= (1<<2);\n    msg.payload = modbus[2];\n    msg2.payload = \"ACIONANDO PORTAO MENOR\";\n    msg2.payload.time= new Date();\n    node.status({fill:\"yellow\",shape:\"ring\",text:msg.payload});\n}\nelse if (modbus[2]==4){\n    modbus[2] &= ~(1<<2);\n    msg.payload = modbus[2];\n    msg2.payload = \"DESLIGA PORTAO MENOR\";\n    msg2.payload.time= new Date();\n    node.status({fill:\"blue\",shape:\"ring\",text:msg.payload});\n}\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":575,"y":1033.333251953125,"wires":[["aeb768ea.1739a8","9be5128c.5fcbe","1209936f.12c31d"],["6dfffb6d.840ce4"]]},{"id":"9be5128c.5fcbe","type":"modbustcp-no-pooling-write","z":"e539c513.9b38b","name":"portao M2","dataType":"HoldingRegister","adr":"2","server":"2428599d.ad9ee6","x":787.7180328369141,"y":1026.9797763824463,"wires":[["e783ee51.468f8"],["3795a00c.f201"]]},{"id":"aeb768ea.1739a8","type":"debug","z":"e539c513.9b38b","name":"","active":true,"console":"false","complete":"false","x":797.9544448852539,"y":973.2147922515869,"wires":[]},{"id":"6dfffb6d.840ce4","type":"debug","z":"e539c513.9b38b","name":"mensagem ok","active":true,"console":"false","complete":"payload","x":804.6161880493164,"y":1084.881420135498,"wires":[]},{"id":"e783ee51.468f8","type":"debug","z":"e539c513.9b38b","name":"RESPOSTA","active":true,"console":"false","complete":"payload","x":1026.2878468831377,"y":1021.5434265136716,"wires":[]},{"id":"1209936f.12c31d","type":"http response","z":"e539c513.9b38b","name":"/api/portao/pedestre","x":828.6666259765625,"y":923.6665649414062,"wires":[]},{"id":"3795a00c.f201","type":"debug","z":"e539c513.9b38b","name":"Erro no Comando","active":true,"console":"false","complete":"payload","x":1047.111083984375,"y":1061.66650390625,"wires":[]},{"id":"6e2b448c.fa473c","type":"inject","z":"e539c513.9b38b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":301.28784688313795,"y":1031.4629618326821,"wires":[["6c9570ca.7f9a7"]]},{"id":"7e60a385.621a2c","type":"http in","z":"e539c513.9b38b","name":"pedestre","url":"/api/portao/pedestre","method":"post","swaggerDoc":"","x":296.66662597656244,"y":1119.666564941406,"wires":[["6c9570ca.7f9a7"]]},{"id":"d4471fb2.c03de","type":"file in","z":"e539c513.9b38b","name":"css","filename":"/home/celso/git/sitio/build/static/css/main.56c1a68e.css","format":"utf8","x":560.4285888671875,"y":1400.2857666015625,"wires":[["7f824d62.b2e574","6fdea10.220896"]]},{"id":"a6e1caca.66fb58","type":"file in","z":"e539c513.9b38b","name":"js","filename":"/home/celso/git/sitio/build/static/js/main.c60e9865.js","format":"utf8","x":570.4285888671875,"y":1479.4285888671875,"wires":[["c98fac13.23232"]]},{"id":"df003581.d972a8","type":"http in","z":"e539c513.9b38b","name":"walk ","url":"/static/media/walk.a4b6ae35.svg","method":"get","swaggerDoc":"","x":201,"y":1536,"wires":[["af11de93.8b5af"]]},{"id":"f570def.b9a6e2","type":"http in","z":"e539c513.9b38b","name":"car","url":"/static/media/car.648db8dc.svg","method":"get","swaggerDoc":"","x":201,"y":1587,"wires":[["b80498ae.e9be48"]]},{"id":"af11de93.8b5af","type":"file in","z":"e539c513.9b38b","name":"walk","filename":"/home/celso/git/sitio/build/static/media/walk.a4b6ae35.svg","format":"utf8","x":571,"y":1533,"wires":[["630dccc.ac95534"]]},{"id":"fa24e9f.d1e6018","type":"http response","z":"e539c513.9b38b","name":"","x":938,"y":1535,"wires":[]},{"id":"b80498ae.e9be48","type":"file in","z":"e539c513.9b38b","name":"CAR","filename":"/home/celso/git/sitio/build/static/media/car.648db8dc.svg","format":"utf8","x":568,"y":1585,"wires":[["1ba408c8.24c527"]]},{"id":"13652338.49898d","type":"http response","z":"e539c513.9b38b","name":"","x":941,"y":1582,"wires":[]},{"id":"6e461264.c56f2c","type":"http response","z":"e539c513.9b38b","name":"","x":930.5556996663418,"y":1696.3335247039795,"wires":[]},{"id":"3d6f1292.49743e","type":"http response","z":"e539c513.9b38b","name":"","x":931.0001576741543,"y":1733.4446392059326,"wires":[]},{"id":"2c55ab12.e3cf44","type":"function","z":"e539c513.9b38b","name":"webfont.woff","func":"msg.headers = { \"Content-type\" : \"application/font-webfont.woff\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":780.77783203125,"y":1696.222412109375,"wires":[["6e461264.c56f2c"]]},{"id":"746344a5.80affc","type":"function","z":"e539c513.9b38b","name":"webfont.ttf","func":"msg.headers = { \"Content-type\" : \"application/font-webfont.ttf\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":782.6667442321777,"y":1733.889066696167,"wires":[["3d6f1292.49743e"]]},{"id":"5c74abde.86ea74","type":"http in","z":"e539c513.9b38b","name":"89889688","url":"/static/media/glyphicons-halflings-regular.89889688.svg","method":"get","swaggerDoc":"","x":213,"y":1635,"wires":[["2fc94311.3903fc"]]},{"id":"2fc94311.3903fc","type":"file in","z":"e539c513.9b38b","name":"89889688","filename":"/home/celso/git/sitio/build/static/glyphicons-halflings-regular.89889688.svg","format":"utf8","x":579,"y":1637,"wires":[["5fb49420.b43d5c"]]},{"id":"cfabc9d.60fae38","type":"http response","z":"e539c513.9b38b","name":"","x":931,"y":1638,"wires":[]},{"id":"6a399d1f.9312c4","type":"http in","z":"e539c513.9b38b","name":"woff","url":"/static/media/glyphicons-halflings-regular.fa277232.woff","method":"get","swaggerDoc":"","x":203,"y":1695,"wires":[["179413ca.2414ec"]]},{"id":"a62b1a8e.f295b8","type":"http in","z":"e539c513.9b38b","name":"eot","url":"/static/media/glyphicons-halflings-regular.fa277232.woff","method":"get","swaggerDoc":"","x":203,"y":1738,"wires":[["33ad9412.e6dc7c"]]},{"id":"179413ca.2414ec","type":"file in","z":"e539c513.9b38b","name":"woff","filename":"/home/celso/git/sitio/build/static/glyphicons-halflings-regular.fa277232.woff","format":"utf8","x":545,"y":1691,"wires":[["2c55ab12.e3cf44"]]},{"id":"33ad9412.e6dc7c","type":"file in","z":"e539c513.9b38b","name":"eot","filename":"/home/celso/git/sitio/build/static/glyphicons-halflings-regular.fa277232.woff","format":"utf8","x":548,"y":1733,"wires":[["746344a5.80affc"]]},{"id":"1ba408c8.24c527","type":"function","z":"e539c513.9b38b","name":"","func":"msg.headers = { \"Content-type\" : \"image/svg+xml\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":767,"y":1586,"wires":[["13652338.49898d"]]},{"id":"5fb49420.b43d5c","type":"function","z":"e539c513.9b38b","name":"","func":"msg.headers = { \"Content-type\" : \"image/svg+xml\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":765,"y":1641,"wires":[["cfabc9d.60fae38"]]},{"id":"630dccc.ac95534","type":"function","z":"e539c513.9b38b","name":"","func":"msg.headers = { \"Content-type\" : \"image/svg+xml\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":759,"y":1529,"wires":[["fa24e9f.d1e6018"]]},{"id":"7d55cdfd.ad230c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b8db14f1.87b1c","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"db","name":""},{"id":"2428599d.ad9ee6","type":"modbustcp-no-pooling-server","z":"","host":"192.168.0.201","port":"502","unit_id":"1"}]
